
.page{
    // background: rgb(126,223,218);
    // background: linear-gradient(360deg, rgba(126,223,218,1) 0%, rgba(17,110,106,1) 63%);
    // background: rgb(126,223,218);
    // background: radial-gradient(circle, rgba(126,223,218,1) 0%, rgba(69,198,193,1) 48%);  
    background: rgb(126,223,218);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: radial-gradient(circle, rgba(126,223,218,1) 0%, rgba(7,159,153,1) 72%);
    height: fit-content;
    width: 100%;
    .slide{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
        .heading{
            font-size: 5rem;
            font-weight: 700;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: rgb(1, 39, 9);
        }
        .card{
            display: flex;
            margin-bottom: 2rem;
            justify-content: center;
            flex-direction: column;
            background: rgba(255, 255, 255, 0.226);
            backdrop-filter: 90rem;
            height: min-content;
            padding: 2rem;
            width: 60%;
            border-radius: 2rem;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 1.5rem;
            color: rgb(46, 7, 7);
            gap: 0.7rem;
            font-weight: 500;
            .obj{
                display: flex;
                span{
                    font-weight: 900;
                    display: inline;
                    margin: 0 1rem;
                }
                ul{
                    list-style: none;
                   
                    text-align:left;
                    li{
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}
