.frame{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width:100vw;
    height: 100vh;
    background: rgb(61,88,230);
    background: linear-gradient(45deg, rgba(61,88,230,1) 0%, rgba(111,179,228,1) 33%);
    .main{
        width: 100%;
        height:100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        .welcome{
            display: flex;
            height: 80%;
            width: 45%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            span{
                color:rgb(22, 14, 111);
                font-family: Poppins;
                font-size: 60px;
                font-style:normal;
                font-weight: 700;
            }
        }
        .login{
            background: rgba(255, 255, 255, 0.10);
            height: 80%;
            width: 45%;
            backdrop-filter: blur(10px);
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            span{
                color:rgb(11, 33, 120);
                text-align: center;
                font-family: Poppins;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            section{
                font-size: 1.2rem;
                font-weight: 600;
                color: aliceblue;
            }
            form{
                height:40%;
                width:80%;
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                p{
                    color:rgb(5, 19, 78);
                    font-family: Poppins;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
                input{
                    width: 80%;
                    height: 48px;
                    border-radius: 5px;
                    border: 1px solid #E9E9E9;
                    background: #F9F9F9;
                    font-size: 20px;
                    padding:2%;
                }
            }
            button{
                width: 70%;
                padding:2%;
                border: none;
                border-radius: 5px;
                background: #297BCA;
                cursor: pointer;
                align-items: center;
                display: inline-flex;
                justify-content: center;
                span{
                    color: var(--Pure-White, #FFF);
                    font-family: Poppins;
                    font-size: 1.6rem;
                    font-style: normal;
                    font-weight: 900;
                    letter-spacing: 2px;
                    margin:0 10px;
                }
            }
            p{
                color:rgb(5, 19, 78);
                font-family:'Times New Roman', Times, serif;
                font-size:1.5rem;
                font-weight: 800;
                a{
                    cursor: pointer;
                    font-weight: inherit;
                }
            }
            .warn{
                font-size: 1.2rem;
                font-weight: 600;
                color:red;
            }
        }
    }
}

.frame2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(61,88,230);
    background: linear-gradient(45deg, rgba(61,88,230,1) 0%, rgba(111,179,228,1) 33%);
    height: 100vh;
    width: 100vw;
    .registration{
        background: rgba(255, 255, 255, 0.10);
        height: 88%;
        width: 70%;
        backdrop-filter: blur(10px);
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        span{
            color:rgb(11, 33, 120);
            text-align: center;
            font-family: Poppins;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        form{
            display: flex;
            flex-wrap:wrap;
            justify-content: space-around;
            height:50%;
            width:90%;
            input{
                width:45%;
                margin:0.5rem;
                padding:0.8rem 1.5rem;
                height:fit-content;
                border-radius: 5px;
                border: 1px solid #E9E9E9;
                background: #F9F9F9;
                font-size:1.5rem;
                text-align: center;
            }
            .imagebox{
                // margin: 20px 0px;    
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                width:45%;
                justify-content: space-around;  
                align-items: flex-start;
                label{
                    font-weight: 600;
                    font-size: 1rem;
                }
                input{
                    margin: 0;
                    width: 80%;
                }
                
            }
        }
        button{
            width: 70%;
            padding:1rem;
            border: none;
            border-radius: 5px;
            background: #297BCA;
            cursor: pointer;
            width: 70%;
            padding:2%;
            border: none;
            border-radius: 5px;
            background: #297BCA;
            cursor: pointer;
            align-items: center;
            display: inline-flex;
            justify-content: center;
            span{
                color: var(--Pure-White, #FFF);
                font-family: Poppins;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 900;
                line-height: 35px; /* 175% */
                letter-spacing: 2px;
                margin:0 1rem;
            }
        }

        p{
            color:rgb(5, 19, 78);
            font-family:'Times New Roman', Times, serif;
            font-size: 21px;
            font-weight: 800;
        }
        .warn{
            font-size: 1.2rem;
            font-weight: 600;
            color:red;
        }
        .span{
            color: #297BCA;
            cursor: pointer;
        }
    }

}

